<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body class="d-flex flex-column min-vh-100">
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="row mb-3">
			<div class="col text-center">
				<h3 th:text="${titulo}"></h3>
			</div>
		</div>
		<div class="form-group row justify-content-center mb-1">
			<label class="col-sm-2 form-label">Empresa</label>
			<div class="col-sm-3">
				<select id="empresaId" name="empresaId" class="form-select form-select-sm" required>
					<option value="" th:if="${#lists.size(listadoEmpresas) > 1}">Seleccione</option>
					<option th:each="emp: ${listadoEmpresas}" th:text="${emp.razonSocial}" th:value="${emp.id}">
					</option>
				</select>
			</div>
			<label class="col-sm-2 form-label">Fecha</label>
			<div class="col-sm-3">
				<input id="fecha" type="month" class="form-control form-control-sm" th:value="${#temporals.format(hoy, 'yyyy-MM')}"/>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-10">
				<!-- Dropzone div -->
				<div id="dropzoneDiv" class="dropzone"></div> <!-- Botón aceptar -->
				<div class="text-center mt-3"> <button id="btnAceptar" class="btn btn-primary">Aceptar</button> </div>
			</div>
		</div>
	</div>
	
<!-- Modal Resumen -->
<div class="modal fade" id="modalResumen" tabindex="-1" aria-labelledby="modalResumenLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="modalResumenLabel">Resumen de subida</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div id="resumenContent"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
	
	
	<script th:src="@{/js/dropzone.js}"></script>
	<script th:src="@{/js/liquidacion.js}"></script>
	<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>